body {
	background-image: url(imagenes/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	height: 100vh;
}

.page-header-principal {
	display: grid;
	grid-template-columns: max-content auto;
	align-items: center;

	margin-top: 0px;
	height: 100px;
	background: rgba(5, 0, 51, 0.75);
	border-bottom: 1px solid #eeeeee;
}


.mega-menu {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 80px;
	margin-right: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	gap: 20px;
}

/* .mega-menu a:link, a:visited, a:hover,  a:active {
	color: rgb(0, 0, 0);
  } */

@media screen and (max-width: 1210px) and (max-height: 900px) {}

div.roulette_container div.roulette-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

div.roulette_container div.roulette-inner img {
	position: relative;
	width: 100%;
	height: 100%;
}

div.roulette-inner {
	left: 0px;
}

.numbers_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
	gap: 20px;
	margin-left: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.data-name {
	font-size: 38px;
	font-family: sans-serif;
}

.dataTables_wrapper .dataTables_length select {
	width: 60px !important;
}

.data-general {
	font-size: 30px;
	font-family: sans-serif;
}

.div-img-logo {
	height: 60px;
	margin-top: 10px;
}

.div-img-title {
	height: 100px;
	margin: auto;
}

/* .container {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
} */

.container-principal {
	/* margin-left: 20px!important;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 200px 50px 100px;
	grid-template-rows: 1fr;
	height: 100%;
	min-width: 800px;
	overflow: scroll; */
}

div.roulette_container {
	/* background-color:rgb(253, 252, 253); */
	width: 200px;
	height: 200px;
	/* border:1px solid rgba(253, 252, 253, 0.31); */
	/* box-shadow:0px 0px 3px lightpink;margin:auto; */
}

div.roulette_container1 {
	background-color: rgb(253, 252, 253);
	width: 200px;
	height: 200px;
	border: 1px solid rgba(253, 252, 253, 0.31);
	box-shadow: 0px 0px 3px lightpink;
	margin: auto;
}

.btn_container {
	margin: 10px auto 10px auto;
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: 200px 130px 150px 200px;
	gap: 15px;
}

.btn_container .start {
	margin-right: 20px;
}

.log_container {
	margin-left: 25px;
	margin-top: 80px;
}

.demo_label {
	border-left: 5px solid gray;
	padding-left: 5px;
	font-size: 20px;
}

#msg {
	border: 1px solid #eee;
	padding: 10px 20px;
	overflow-y: scroll;
	max-height: 100px;
}

div.param_label {
	margin: 20px 0px 10px 0px;
}

#stopImageNumber {
	width: 20px;
}

.param_name {
	font-weight: bold;
}

.image_sample img {
	width: 50px;
	cursor: pointer;
}

.right_container {
	width: 550px;
	margin-left: 100px;
}

.code_container {
	margin-top: 50px;
	width: 500px;
}

.label-info {
	margin-bottom: 3px;
}

div.ui-slider {
	width: 300px;
}

.dataTables_info,
.dataTables_scrollHeadInner,
.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: snow !important;
}

table,
.dataTables_scrollHeadInner .dataTable {
	background: rgb(208 173 108) !important;
}

.data_table_winners label,
.data_table_winners input {
	color: snow;

}

.data_table_winners select {
	background-color: snow !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	background: rgb(208 173 108) !important;
	border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	color: snow !important;
	opacity: 0.75;
}

.table-container .data_table_winners {
	height: calc(100% - 40px) !important;
}

.table-container .dataTables_wrapper {
	display: grid;
	grid-template-rows: 0 0 max-content auto max-content max-content 0;

	height: 100%;
}

.table-container .dataTables_wrapper .dataTables_scroll {
	display: grid;
	grid-template-rows: max-content auto;
	overflow: auto;
}

.table-container .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody {
	width: calc(100% - 5px);
	max-height: 100% !important;
	background: snow;
}

.table-container .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody table {
	width: calc(100% - 6px) !important;
	height: auto;
	border: none !important;
}

.table-container .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody table tr {
	max-height: 36px;
}

.table-container .dataTables_wrapper .dataTables_length {
	width: max-content;
}

.table-container .dataTables_wrapper .dataTables_filter {
	width: max-content;
	margin-left: auto;
}

/* Ocultar datos de table que no se necesitan */


#regionDisplay,
.table-container .dataTables_wrapper .dataTables_paginate,
.table-container .dataTables_wrapper .dataTables_info,
.table-container .dataTables_wrapper .dt-buttons,
.table-container .dataTables_wrapper .dataTables_length,
.table-container .dataTables_wrapper .dataTables_filter {
	display: none !important;
}

.table-container .dataTables_wrapper {
	grid-template-rows: auto 0;
}

.table-container .dataTables_scrollHead th,
.table-container .dataTables_scrollBody td{
	text-align: left;
}

.table-container .dataTables_wrapper .dataTables_scroll {
	font-size: 20px;
}

.table-container .dataTables_wrapper .dataTables_scrollBody {
	height: max-content;
	min-height: 150px;
}

.table-container {
	grid-template-rows: auto !important;
	padding-bottom: 24px;
}