.div-img-logo {
	height: 60px;
	margin-top: 10px;
}

.div-img-title {
	height: 100px;
	margin-left: calc(50% - 220px);
}

div.roulette {
	margin-top: 10px;
}

div.roulette_container div.roulette-inner {
	position: relative;
	width: 100%;
	height: 100%;
}

div.roulette_container div.roulette-inner img {
	position: relative;
	width: 100%;
	height: 100%;
}

div.roulette-inner {
	left: 0px;
}

.numbers_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
	gap: 20px;
	margin-left: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.data-name {
	font-size: 38px;
	font-family: sans-serif;
}

.dataTables_wrapper .dataTables_length select {
	width: 60px !important;
}

.data-general {
	font-size: 30px;
	font-family: sans-serif;
}

div.data_table_winners,
div.data_table_winners>* {
	/* color: white!important;
	background: transparent!important; */
}

.data_table_winners {
	background: none;
	border-width: 10px;
	padding: 20px;
	height: 510px;
	max-width: 100%;
	border-radius: 10px;
}

.dt-buttons {
	margin-bottom: 10px !important;
}

/* .page-header-principal {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

/* .container {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
} */

.container-principal {
	display: grid;
	grid-template-rows: max-content auto;
	height: 100%;
	position: relative;
}

div.roulette_container {
	/* background-color:rgb(253, 252, 253); */
	width: 200px;
	height: 200px;
	/* border:1px solid rgba(253, 252, 253, 0.31); */
	/* box-shadow:0px 0px 3px lightpink;margin:auto; */
}

div.roulette_container1 {
	background-color: rgb(253, 252, 253);
	width: 200px;
	height: 200px;
	border: 1px solid rgba(253, 252, 253, 0.31);
	box-shadow: 0px 0px 3px lightpink;
	margin: auto;
}

.btn_container {
	position: absolute;
	left: 22vw;
	top: 140px;
	display: grid;
	grid-template-columns: max-content;
	margin: 0;
	z-index: 1;
}

.btn_container * {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	height: max-content;
}

.btn_container .start {
	margin-right: 20px;
}

.log_container {
	margin-left: 25px;
	margin-top: 80px;
}

.demo_label {
	border-left: 5px solid gray;
	padding-left: 5px;
	font-size: 20px;
}

#msg {
	border: 1px solid #eee;
	padding: 10px 20px;
	overflow-y: scroll;
	max-height: 100px;
}

div.param_label {
	margin: 20px 0px 10px 0px;
}

#stopImageNumber {
	width: 20px;
}

.param_name {
	font-weight: bold;
}

.image_sample img {
	width: 50px;
	cursor: pointer;
}

.right_container {
	width: 550px;
	margin-left: 100px;
}

.code_container {
	margin-top: 50px;
	width: 500px;
}

.label-info {
	margin-bottom: 3px;
}

div.ui-slider {
	width: 300px;
}

.employeName {
	margin: auto;
	max-width: 1600px;
	min-width: 1600px;
	height: 100%;
}

.table-container {
	overflow: hidden;
}
.table-container .dataTables_wrapper {
	grid-template-rows: max-content 0 max-content auto max-content max-content 0;
}